.nav_divContainer{
    width:95%;
    padding:20px;
    margin-bottom: 30px;
    display: flex;
    flex-direction:row-reverse;
    border-radius: 10px;
    background-color: rgb(10, 256, 235,50%)
}

.nav_about{
    color: rgb(100, 256, 205,70%);
    margin-left: 20px;
    margin-right: 20px;
}

.nav_about:hover{
    color: rgb(100, 256, 205,90%);
}

.nav_home{
    color: rgb(100, 256, 205,70%);
}
.nav_home:hover{
    color: rgb(100, 256, 205,90%);
}

.nav_favorites{
    margin-right: 20px;
    color: rgb(100, 256, 205,70%)
}
.nav_favorites:hover{
    color: rgb(100, 256, 205,90%)
}